
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-vk:before { content: '\e801'; } /* '' */
.icon-fb:before { content: '\f09a'; } /* '' */
.icon-insta:before { content: '\f16d'; } /* '' */
.icon-ok:before { content: '\f30c'; } /* '' */