.header {
    margin: 0;
    padding: 0;
    min-width: 978px;
    
}
a:active, a:visited, a:focus {
    text-decoration: none;
    outline: none;
}
.container {  
    background-image:url(img/Bg.jpg);
    position: absolute;
    margin: 0 auto;   
    min-width: 978px;
    height: 100vh;
    z-index: 1;
}

.header-top-spacer {
    display: block;
    height: 50px;
    width: 100vw;       
    background-image: -moz-linear-gradient( 0deg, rgb(226,55,96) 0%, rgb(248,89,128) 100%); 
    background-image: -webkit-linear-gradient( 0deg, rgb(226,55,96) 0%, rgb(248,89,128) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(226,55,96) 0%, rgb(248,89,128) 100%);    
}
.header-top {
    margin-left: -25px;
    display: block;
    width: 100%;
    background-image: -moz-linear-gradient( 0deg, rgba(189,48,82,0.6) , rgb(248,89,128) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgba(189,48,82,0.6) , rgb(248,89,128) 100%);
    background-image: -ms-linear-gradient( 0deg, rgba(189,48,82,0.6), rgb(248,89,128) 100%);
    position: absolute;
    padding-left: 13px;
    padding-right: 13px;     
    height: 50px;
    left: -1px;
    top: 0px;      
    z-index: 129;
}
.header-wrapper {    
    position: absolute;
    left: 20%;
    display: block;
    margin: 0 auto;    
    min-width: 978px;
    height: inherit;
}
.header-top .header-col:nth-child(1) {
    display: block;
    margin-right: 19px;
    background-color: #cd365a;
    opacity: 0.6;
    position: absolute;
    line-height: 50px;    
    top: -1px;
    width: 230px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid transparent;
    z-index: 132;
}
.header-top .header-col:nth-child(2) {
    font-size: 14px;
    font-family: "Intro Regular";
    color: #fff;
    line-height: 50px;
    text-align: left;
    width: 230px;
    height: 51px;
    margin-left: 19px;
    position: absolute;
    left: 25%;
    top: -1px;
    z-index: 137;
}

.header-top .header-col:nth-child(3) {
    font-size: 14px;
    font-family: "Intro Regular";
    color: #fff;
    line-height: 50px;
    text-align: left;
    width: 230px;
    height: 51px;
    margin-left: 19px;
    position: absolute;
    left:50%;
    top: -1px;
    z-index: 138;
}

.header-top .header-col:nth-child(4) {    
    margin-left: 19px;
    background-color: #cd365a;
    opacity: 0.6;
    position: absolute;
    line-height: 50px;
    left: 74.5%;
    top: -1px;
    width: 230px;
    height: 51px;
    z-index: 132;
     
}
.header-top .header-col a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    color: #fff; 
    line-height: 1.667;
    font-family: "Intro Regular";
    border-bottom: 1px solid transparent;
    text-decoration: none;
    text-align: center;
    margin-left: 1rem;
}
.header-top .header-col a:hover {
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
.header-top .header-col:nth-child(2) p {
    text-align:center;
    line-height:50px;
    
}
.header-top .header-col:nth-child(3) p  {
  text-align: center;
  line-height: 50px;
}
.mod-callendar {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;   
}
.header-col a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    color: #fff; 
    line-height: 50px;
    font-family: "Intro Regular";   
    text-align: center;   
}
.header-wrapper .header-col:nth-child(1) {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 230px;
    margin: 0;
    padding: 0;    
    display: inline-block;    
    position: absolute;
    top: 0;
    left: 0;
}
.header-wrapper .header-col:nth-child(2) {
    display: inline;
    width: 728px;
    height: 135px;
    margin-left: 19px;
    left: 230px;
    top: 0;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
}
.header-wrapper::before {
    display: table;
    content: '';
}
.header-wrapper::after {
    clear: both;
    display: table;
    content: '';
}
.header-logo {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    height: 126px;
    width: 230px;    
    display: inline-block;
    float:left;
}

.nav {
    width: 728px;
    margin: 0 auto;
    display: block;
    margin-top: 42px;
    height: 93px;    
    position: absolute;
    font-family: _intro, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;

}

.nav-list {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    height: 93px;
    width: 728px;
    list-style: none;
    font-size: 100%;
    font: inherit;
}

.nav-item {
    display:inline;
    margin: 0;
    padding: 0;
    list-style: none;    
    position: relative;
    text-align: center;
    width: 66px;
    height: 93px;
}
.nav-link {
    display: block;
    left: 0;
    top: 50px;    
    color: rgb(91, 91, 91);
    position: relative;  

}
/*.nav-list {
    height: 93px;
    display: inline;
    width: 728px;
    position: absolute; 
    list-style: none;
}
.
.nav-list li {
    display: inline;
    margin-left: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: intro, Arial, sans-serif;
    color: rgb(91, 91, 91);
    height: inherit;
    text-align: center;
    position: relative;  

}
*//*.nav-list a:link, a:active, a:visited, a:focus {
    text-decoration: none;
    outline: none;
}
.nav-list li {
    display: inline-block;
    margin-left: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: intro, Arial, sans-serif;
    color: rgb(91, 91, 91);
    height: inherit;
    text-align: center;
    position: relative;  

}
.nav-item {
    position: relative;
    display: inline-block;
    left: 50%;    
}*/
/*.nav-link {
    position: relative;
    text-align:center;
    line-height:135px;
    height:inherit;
    width:60px;
    font-size:12px;
}
.nav-item a {
    margin: 5px 15px;
    text-align: center;
    color: rgb(91, 91, 91);
    font: intro, Arial, sans-serif;
    text-decoration: none;

}

.nav-item a::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
}*/
.nav-icon {
    display: block;
    left: 1rem;
    top: -5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;    
    background-image: -moz-linear-gradient( 60deg, rgb(27,189,206) 0%, rgb(33,208,226) 100%);
    background-image: -webkit-linear-gradient( 60deg, rgb(27,189,206) 0%, rgb(33,208,226) 100%);
    background-image: -ms-linear-gradient( 60deg, rgb(27,189,206) 0%, rgb(33,208,226) 100%);
    position: absolute;
    width: 60px;
    height: 60px;

}
.nav-link::before {    
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    top: -10px;
    left: 50%;
    width: 50px;
    height: 10px;
    margin-left: -25px;
    border-radius: 50%;
    background: -webkit-linear-gradient(top, #ebebeb 0%, #ddd 100%);
    background: -moz-linear-gradient(top, #ebebeb 0%, #ddd 100%);
    background: -o-linear-gradient(top, #ebebeb 0%, #ddd 100%);
    background: -ms-linear-gradient(top, #ebebeb 0%, #ddd 100%);
    background: linear-gradient(to bottom, #ebebeb 0%, #ddd 100%);
    content: '';    
}
.nav-link:hover::before {
    width: 40px;
}


.nav-icon:hover {
    margin-top: -20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;    
    background-image: -moz-linear-gradient( 60deg, rgb(226,56,97) 0%, rgb(246,86,125) 100%);
    background-image: -webkit-linear-gradient( 60deg, rgb(226,56,97) 0%, rgb(246,86,125) 100%);
    background-image: -ms-linear-gradient( 60deg, rgb(226,56,97) 0%, rgb(246,86,125) 100%);
}   





.footer-bot {
    background: #ea446c;        
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100vw;  
    height: 155px;
    padding-top: 45px;
    z-index: 4;
    margin: 0;
}
.footer-wrapper {
    box-sizing: border-box;
    left: -10px;
    width: 978px;
    margin: 0 auto;
    height: inherit;
    position: relative;
}

.footer-col:nth-child(1) {
    width: 313px;
    height: 106px;
    display: inline-block;
    position: relative;
    float: left;
    box-sizing: border-box;
}
.footer-col:nth-child(2) {
    width: 230px;
    height: 106px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 102px;
    position: relative;
    float: left;
}
.footer-col:nth-child(3) {
    width: 313px;
    height: 92px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin-left: 19px;
    float: left;
}
.social-links a {    
    line-height: 2em;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2em;
    -webkit-transition: 0.2sec;
    -o-transition: 0.2sec;
    transition: 0.2sec;
}
.socialLinks img {    
    line-height: 2em;
    color: #fff;
    height: 50px;
    width: 50px;
    border: solid 1px #fff;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    fill: rgb(226,56,97);
   /* background-color: : -webkit-linear-gradient(330deg, rgb(226,56,97) 0%, rgb(246,86,125) 100%);
    background-color: : -o-linear-gradient(330deg, rgb(226,56,97) 0%, rgb(246,86,125) 100%);
    background-color: : linear-gradient(60deg, rgb(226,56,97) 0%, rgb(246,86,125) 100%);
   */ -webkit-transition: 0.2sec;
    -o-transition: 0.2sec;
    transition: 0.2sec;
}
.socialLinks__vk:hover {
    background-color: #507299;
}

.socialLinks__youtube:hover {
    background-color: #bb0000;
}
.socialLinks__fb:hover {
    background-color: #3b5998;
}
.socialLinks__ok a:hover {
    background-color: #f7b42c;
}
.socialLinks__insta:hover {
    background-color: #517fa4;
}
