.header {
    margin: 0;
    padding: 0;
    min-width: 978px;
    
}
a:active, a:visited, a:focus {
    text-decoration: none;
    outline: none;
}
.container {  
    background-image:url(img/Bg.jpg);
    position: absolute;
    margin: 0 auto;   
    min-width: 978px;
    height: 100vh;
    z-index: 1;
}

.header-top-spacer {
    display: block;
    height: 50px;
    width: 100vw;       
    background-image: -moz-linear-gradient( 0deg, rgb(226,55,96) 0%, rgb(248,89,128) 100%); 
    background-image: -webkit-linear-gradient( 0deg, rgb(226,55,96) 0%, rgb(248,89,128) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(226,55,96) 0%, rgb(248,89,128) 100%);    
}
.header-top {
    margin-left: -25px;
    display: block;
    width: 100%;
    background-image: -moz-linear-gradient( 0deg, rgba(189,48,82,0.6) , rgb(248,89,128) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgba(189,48,82,0.6) , rgb(248,89,128) 100%);
    background-image: -ms-linear-gradient( 0deg, rgba(189,48,82,0.6), rgb(248,89,128) 100%);
    position: absolute;
    padding-left: 13px;
    padding-right: 13px;     
    height: 50px;
    left: -1px;
    top: 0px;      
    z-index: 129;
}
.header-wrapper {    
    position: relative;
   /* left: 20%;*/
    display: block;
    margin: 0 auto;    
    width: 978px;
    height: inherit;
}
.header-top .header-col:nth-child(1) {
    display: block;
    margin-right: 19px;
    background-color: #cd365a;
    opacity: 0.6;
    position: absolute;
    line-height: 50px;    
    top: -1px;
    width: 230px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid transparent;
    z-index: 132;
}
.header-top .header-col:nth-child(2) {
    font-size: 14px;
    font-family: "Intro Regular";
    color: #fff;
    line-height: 50px;
    text-align: left;
    width: 230px;
    height: 51px;
    margin-left: 19px;
    position: absolute;
    left: 25%;
    top: -1px;
    z-index: 137;
}

.header-top .header-col:nth-child(3) {
    font-size: 14px;
    font-family: "Intro Regular";
    color: #fff;
    line-height: 50px;
    text-align: left;
    width: 230px;
    height: 51px;
    margin-left: 19px;
    position: absolute;
    left:50%;
    top: -1px;
    z-index: 138;
}

.header-top .header-col:nth-child(4) {    
    margin-left: 19px;
    background-color: #cd365a;
    opacity: 0.6;
    position: absolute;
    line-height: 50px;
    left: 74.5%;
    top: -1px;
    width: 230px;
    height: 51px;
    z-index: 132;
     
}
.header-top .header-col a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    color: #fff; 
    line-height: 1.667;
    font-family: "Intro Regular";
    border-bottom: 1px solid transparent;
    text-decoration: none;
    text-align: center;
    margin-left: 1rem;
}
.header-top .header-col a:hover {
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
.header-top .header-col:nth-child(2) p {
    text-align:center;
    line-height:50px;
    
}
.header-top .header-col:nth-child(3) p  {
  text-align: center;
  line-height: 50px;
}
.mod-callendar {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;   
}
.header-col a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    color: #fff; 
    line-height: 50px;
    font-family: "Intro Regular";   
    text-align: center;   
}
.header-logo {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    height: 126px;
    width: 230px;    
    display: inline-block;
    float:left;
}
.header-nav {
    margin: 0 auto;
    display: inline-block;
    width: 728px;
    height: 135px;    
}
.nav {
    position: absolute;
    display: block;
    margin-top: 42px;
    height: 93px; 
    width: 728px;

}
.nav-list {
    width: 728px;
    height: 93px;
}
.nav-list a:link, a:active, a:visited, a:focus {
    text-decoration: none;
    outline: none;
}
.nav-list li {
    display: inline-block;
    margin-left: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: intro, Arial, sans-serif;
    color: rgb(91, 91, 91);
    height: inherit;
    line-height: 93px;
    text-align: center;
    position: relative;  

}
.nav-item {
    position: relative;
    display: inline-block;
    padding: 8px;    
}
.nav-icon {
    display: block;
    left: 1rem;
    top: -5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;    
    background-image: -moz-linear-gradient( 60deg, rgb(27,189,206) 0%, rgb(33,208,226) 100%);
    background-image: -webkit-linear-gradient( 60deg, rgb(27,189,206) 0%, rgb(33,208,226) 100%);
    background-image: -ms-linear-gradient( 60deg, rgb(27,189,206) 0%, rgb(33,208,226) 100%);
    position: absolute;
    width: 60px;
    height: 60px;

}
.nav-link:before {    
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    top: -10px;
    left: 50%;
    width: 50px;
    height: 10px;
    margin-left: -15px;
    border-radius: 50%;
    background: -webkit-linear-gradient(top, #ebebeb 0%, #ddd 100%);
    background: -moz-linear-gradient(top, #ebebeb 0%, #ddd 100%);
    background: -o-linear-gradient(top, #ebebeb 0%, #ddd 100%);
    background: -ms-linear-gradient(top, #ebebeb 0%, #ddd 100%);
    background: linear-gradient(to bottom, #ebebeb 0%, #ddd 100%);
    content: '';    
}
.nav-link:hover::before {
    width: 40px;
}
.nav-item a:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
}

.nav-icon:hover {
    margin-top: -20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;    
    background-image: -moz-linear-gradient( 60deg, rgb(226,56,97) 0%, rgb(246,86,125) 100%);
    background-image: -webkit-linear-gradient( 60deg, rgb(226,56,97) 0%, rgb(246,86,125) 100%);
    background-image: -ms-linear-gradient( 60deg, rgb(226,56,97) 0%, rgb(246,86,125) 100%);
}   

.nav-link {
    position: relative;
    text-align:center;
    line-height:135px;
    height:inherit;
    width:60px;
    font-size:12px;
}
.nav-link:hover {
    color: #e34168
}

.nav-item a {
    margin: 5px 15px;
    text-align: center;
    color: rgb(91, 91, 91);
    font: intro, Arial, sans-serif;
    text-decoration: none;

}
.weight {
    min-width: 978px;
    padding-left: 13px;
    padding-right: 13px;
    display: block;
    margin: 0;
}
.weight_wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 978px;
    margin: 0 auto;
}
.weight_title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 34px;
    line-height:  1.294117647058824;
    position: relative;
    color: #333;
    font-family: _intro, Arial, sans-serif;
    font-weight: 500;
    display: block;  
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}
.weight_title small {
    display: block;
    margin-top: 5px;
    font-weight: 300;
    font-size:  22px;
}
.weight_title::before {
    display: table;
    content: '';
}
.weight_title::after {
    clear: both;
    display: table;
    content: '';
}
.box_blue_grad {
    position: absolute;
    display: block;
    width: 978px;
    height: 410px;
    padding: 0;
    margin: 0;
    background-image: -webkit-linear-gradient(bottom, #21d0e2, #1bbad8);
    background-image: -moz-linear-gradient(bottom, #21d0e2, #1bbad8);
    background-image: -o-linear-gradient(bottom, #21d0e2, #1bbad8);
    background-image: -ms-linear-gradient(bottom, #21d0e2, #1bbad8);
    background-image: linear-gradient(to top, #21d0e2, #1bbad8);
    color: #fff;
}
.weight_form {
    padding: 50px;
    display: block;
    position: relative;
    width: 878px;
    height: 310px;

}
.weight_form table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    height: 254px;

}
.weight_inputs {
    width: 726px;
    height: 82px;
}
.weight_inputs td {
    display: table-cell;
    vertical-align: center;
    padding-bottom: 34px;
    text-align: right;
    font-weight: normal;
}
.weight_form label:nth-child(1) {
    display: block;
    padding-top: 13px;
    font-size: 18px;
    color: #fff;
    font-family: _intro, Arial, sans-serif;
    text-align: right;
}
.weight_form label:nth-child(2) {
    display: block;
    padding-top: 13px;
    font-size: 18px;
    color: #fff;
    font-family: _intro, Arial, sans-serif;
    text-align: right;
}
.weight_form label:nth-child(3) {
    display: block;
    padding-top: 13px;
    font-size: 18px;
    color: #fff;
    font-family: _intro, Arial, sans-serif;
    text-align: right;
}
/*.weight_form label {
    display: block;
    padding-top: 13px;
    color: #fff;
    font-family: _intro, Arial, sans-serif;
    font-size: 18px;
    text-align: right;
}*/
/*.weight_inputs td + td {
    padding-left: 14px;
}*/
/*.weight_form .weight_inputs input {
    width: 80px;
    height: 42px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    -webkit-box-shadow: 0 0 0 1px #0d9bbd inset;
    box-shadow: 0 0 0 1px #0d9bbd inset;
    background: #12a9c4;
    margin-top: 6px;
    margin-bottom: 0;
    color: #fff;
}*/
.weight_form_submit {
    text-align: center;
    display: block;
    position: relative;
    padding: 0;
    margin: 0 auto;    
}
/*.weight_title div {
     border-radius: 3px;
     display: block;
     background-color: rgb(23, 173, 210);
     position: absolute;
     width: 978px;
     height: 396px;
     z-index: 79;
}*/
.footer-bot {
    background: #ea446c;        
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0px;
    width: 100vw;  
    height: 155px;
    padding-top: 45px;
    z-index: 4;
    margin: 0;
    color: #fff;
}

.footer-wrapper {     
    width: 978px;
    margin: 0 auto;
    height: inherit;
    display: block;
    box-sizing: border-box;
    position: relative;
}


.footer-col:nth-child(1) {
    width: 280px;
    height: 106px;
    display: inline-block;
    position: relative;
    float: left;
    box-sizing: border-box;   
    font-family: _intro, Arial, sans-serif;
    padding-bottom: 8px;
}
.footer_title{
    font-size: 18px;
    margin-bottom: 15px;
}
.footerCol__location {
    margin-top: 10px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
}
.footer_workTime {
    margin-top: 10px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
   
}
.footer_link {    
    color: #fff;
}
.footer-col:nth-child(1) b {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


.footer-col:nth-child(1)::before {
    position: absolute;
    right: 100%;
    content: '\00a9';
}

.footer-col:nth-child(2) {
    width: 280px;
    height: 106px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 102px;
    position: relative;
    float: left;    
}
.footer-col:nth-child(3) {
    width: 313px;
    height: 92px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;    
    float: left;

}
.social-links a { 
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2em;
    -webkit-transition: 0.2sec;
    -o-transition: 0.2sec;
    transition: 0.2sec;
}
.socialLinks img {    
    line-height: 2em;
    color: #fff;
    height: 44px;
    width: 44px;
    border: solid 1px rgb(226,56,97);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(226,56,97);
    -webkit-transition: 0.2sec;
    -o-transition: 0.2sec;
    transition: 0.2sec;
    z-index: 151;
}
.socialLinks__vk:hover {
    background-color: #507299;
    border: solid 1px #fff;
    z-index: 150;
}

.socialLinks__youtube:hover {
    background-color: #bb0000;
    border: solid 1px #fff;
}
.socialLinks__fb:hover {
    background-color: #3b5998;
    border: solid 1px #fff;
}
.socialLinks__ok:hover {
    background-color: #f7b42c;
    border: solid 1px #fff;
}
.socialLinks__insta:hover {
    background-color: #517fa4;
    border: solid 1px #fff;
}
